@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Sobre</h1>
    <p>Olá, eu sou o @ViewData["Name"] e este é meu @ViewData["Message"]</p>
    <h5>
        Email:
    </h5>
    <p>
        @ViewData["Email"]
    </p>
</div>


